body {
	background: #00c542;
	margin: 0;
	padding: 0;
	margin: 0,25px, 0,25px;
	padding-right: 5%;
}
nav li { 
	display: inline;
	text-decoration: none;
	text-transform: uppercase;
}


#banner {
	width: 100%;
}

h1 {
	text-align: center;
}

.textos {
	background: rgb(255, 255, 255);
}

p {
	text-align: center;
}


